*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: rgb(31, 31, 104);
}

.main-container{
  padding: 2em 10em;
  width: 100%;
  height: 100vh;
  background-color: rgb(177, 177, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  header{
    width: 600px;
    height: 50px;
    font-weight: 600;
    color: white;
    border-radius: 0.5em 0.5em 0 0;
    background-color: rgb(100, 100, 239);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card{
    width:600px;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    .card-search{
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 0.5em;
      input{
        background: none;
        flex: 1;
        outline: none;
        border: none;
        padding: 0.5em;
        border: 1px solid rgb(100, 100, 239);
        border-radius: 1em;
        padding: 0.5em 1em;
      };
      button{
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: rgb(100, 100, 239);
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: white;
        &:hover{
          background-color: rgb(31, 31, 104);
          transition: 0.3s ease-in-out;
        }
      }
    }
    .info-card{
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      .info-card-top{
        padding: 1.5em 1em 1em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: 500;
        font-size: 2em;
        color: rgb(100, 100, 239);

      }
      .info-card-bottom{
        color: rgb(100, 100, 239);
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        width: 80%;
        padding: 1em;
        justify-content:space-between; 
        .info-card-bottom-left{
          display: flex;
          align-items: center;
          gap: 0.8em;
          img{
            width: 30px;
            height: 40px;
          }
        }
        .info-card-bottom-right{
          display: flex;
          align-items: center;
          gap: 0.8em;
          img{
            width: 30px;
            height: 40px;
          }
    
      }
    }
  }
}